.*
!.gitignore
!.braids
config/database.yml
config/facebooker.yml
config/settings.yml
config/initializers/hoptoad.rb
config/initializers/site_keys.rb
coverage
db/*.sqlite3
doc/api
doc/app
log/*.log
tmp/**/*
public/javascripts/*_packaged.js
public/stylesheets/*_packaged.css
public/stylesheets/ie.css
public/stylesheets/screen.css
*~
**/**~