[submodule "vendor/plugins/paperclip"]
	path = vendor/plugins/paperclip
	url = git://github.com/thoughtbot/paperclip.git
[submodule "vendor/plugins/limerick_rake"]
	path = vendor/plugins/limerick_rake
	url = git://github.com/thoughtbot/limerick_rake.git
