body {
  background-color: #4A4A4A;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #B30646;
  text-decoration:none;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
  margin-bottom: 2px;
}

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 5px 20px;
  border: solid 1px #2B2B2B;
  margin-top: 20px;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.clear {
  clear: both;
}

.actions {
  font-size: 11px;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0px;
  background-color: #c00;
  color: #fff;
}
#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}
#errorExplanation ul {
  margin: 2px 24px;
}
#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

/* header */
#header {
    height: 20px; 
    border-bottom: solid 1px #4B4B4B;
}
#logo { padding: 0px 0 0 8px; }
#logo p { margin: 0; padding: 0 0 0 0; color: #808080; background: #fff; }
#top_info { float: right; width: 570px; margin: 5px 5px 0 0; text-align: right; }

#navigation {
}

#wrapper {
	width: 950px;
	margin: 0 auto;
}

#content {
    padding-top:20px;
}

#footer {
}
 
